@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 90%;
  height: 100%;
  /* background-image:url('./images/pattern-bg.png') ; */
  /* background: url('./images/pattern-bg.png') no-repeat ; */
  /* width: 100%; */
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
body,html,#root
{
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  height: 100%;
}
body
{
background: url('./images/pattern-bg.png') scroll 0rem 0rem no-repeat;
/* background-size: 0px 1rem; */
display: flex;
background-size:100% cover ;
flex-direction: column;
/* background-repeat:repeat-x;    */
font-family: 'Rubik';
/* display: flex; */
/* flex-direction: column; */
}
button
{
  background: url('./images/icon-arrow.svg') scroll 1rem 1.2rem no-repeat hsl(0, 0%, 17%);
  /* background:  hsl(0, 0%, 17%); */
  /* color: aliceblue; */
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 3rem;
  height: 4rem;
}
.top-input-area
{
  display: flex;
  flex-direction: row;
  height: 5rem;
}
.heading
{
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  height: fit-content;
}
input
{
  width: 15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
}
.grid
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 59%);
  /* height: 7rem; */
  height: fit-content;
  /* position: absolute; */
  z-index: 1;
  /* top: 8rem; */
  border-radius: 0.5rem;
  margin:2rem auto;
  width: 80%;
}
.grid > div 
{
  display: flex;
  flex-direction: column;
  /* color: hsl(0, 0%, 17%); */
  /* font-weight: 700; */
}

/* #mapid { height: 180px; } */
#mapid,.leaflet-container
{
    width: 100vh; 
    z-index: -1;
    position: relative;
    /* top: -2.9rem; */
    height: 100vh;
    height: 100%;
    width: 100vw;

}
/* #mapid { height: 180px; } */
h2
{
  border-right: 1px solid hsl(0, 0%, 59%);
  font-size: 18px;
}
.ip,.utc,.isp,.loc
{
  font-weight: 700;
  color: hsl(0, 0%, 17%);
}
.pop-up
{
  background: url('./images/icon-location.svg') hsl(0, 0%, 17%);
}

@media screen and (max-width:680px) {
.grid
{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* height: 50%; */
  top: 3rem;
}  
h2
{
  
  border-right:0px ;
}


#mapid,.leaflet-container
{
 /* height: 100vh; */
 height: 21vh;
 /* top: 5.5rem;  */
}
.top-input-area
{
  width: 90%;
}
.top-input-area input
{
  width: 100%;
}
}